h1, h2 {
  color: white;
}

body {
  background-color: #CC463A;
  font-family: sans-serif;
}

h3 {
  margin-top: 0px;
  margin-bottom: 3px;
}

.pokeContainer {
  display: flex;
  flex-wrap: wrap;
}

.pokemon {
  text-align: center;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 3px;
}

.poison {
  color: #A040A0;
  font-weight: bold;
}

.grass {
  color: #73BD64;
  font-weight: bold;
}

.fire {
  color: #E72300;
  font-weight: bold;
}

.bug {
  color: #4C963D;
  font-weight: bold;
}

.flying {
  color: #B49DF7;
  font-weight: bold;
}

.water {
  color: #80C6DD;
  font-weight: bold;
}

.normal {
  color: #B8B8B8;
  font-weight: bold;
}

.ground {
  color: #795902;
  font-weight: bold;
}

.fairy {
  color: #E59FE4;
  font-weight: bold;
}
