h1, h2 {
  color: white;
}

body {
  background-color: #CC463A;
  font-family: sans-serif;
}

h3 {
  margin-top: 0px;
  margin-bottom: 3px;
}

.pokeContainer {
  display: flex;
  flex-wrap: wrap;
}

.pokemon {
  text-align: center;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 3px;
}

span {
  font-weight: bold;
}

.poison {
  color: #A040A0;
}

.grass {
  color: #73BD64;
}

.fire {
  color: #E72300;
}

.bug {
  color: #4C963D;
}

.flying {
  color: #B49DF7;
}

.water {
  color: #80C6DD;
}

.normal {
  color: #B8B8B8;
}

.ground {
  color: #795902;
}

.fairy {
  color: #E59FE4;
}

.electric {
  color: #FEEC18;
}

.rock {
  color: #CDBF6D;
}

.fighting {
  color: #B24C3C;
}

.ghost {
  color: #8066D6;
}

.steel {
  color: #C6C0DC;
}

.dark {
  color: #936753;
}

.ice {
  color: #7CF5FF;
}

.psychic {
  color: #FF35B2;
}
